* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
        list-style: none;
    }

    @font-face {
        font-family: 'ExtraBold';
        src: url(static/NotoSerifKR-ExtraBold.ttf);
    }
    body{
        background-color: black;
        font-family: 'ExtraBold';
    }
    .web{
        height:2000px;
        
    }
    h2{
        text-align: center;
        color:white;
        font-size: 30px;
    }
    h3{
        color:white;
        top:150px;
        font-size: 50px;
    }
    .top div h2{
        margin-bottom: 10px;
        border-bottom: 2px solid white;
    }
    .top div{
        width:300px;
        margin:0 auto;
    }
    .restaurant{
        margin:0 auto;
        width:100%;
        height:auto;
    }
    .restaurant div{
        max-width: 800px;
        height: 600px;
        display: flex;
        justify-content: space-between;

    }
    .restaurant div #title{
        position: relative;
        top:200px;
    }
    .restaurant div #img{
        position: relative;
        top:40px;
    }
    img{
        width:500px;
        height:500px;
    }
    #choi{
        position: relative;
        left:450px;
        top:300px;
    }
    #mosu{
        position: relative;
        top:-300px;
        left:2200px;
    }
    #VIA{
        position: relative;
        left:450px;
        top:500px;
    }
    #Magnolia{
        position: relative;
        left: 2200px;
        top:-100px;
    }
