* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
        list-style: none;
    }

    @font-face {
        font-family: 'ExtraBold';
        src: url(static/NotoSerifKR-ExtraBold.ttf);
    }
    body{
        background-color: black;
        font-family: 'ExtraBold';
    }

    .web{
        height:2000px;
        
    }

    .top div h2{
        margin-bottom: 10px;
        border-bottom: 2px solid white;
    }
    .top div{
        width:300px;
        margin:0 auto;
    }


    .boxContainer{
        display: flex;
        justify-content: center;           
        padding: 20px;
        background-color: black;
    }

    .boxContainer div{
        text-align: center;
        
        padding: 10px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom:20px;
        margin-top:20px;
    }

    .boxContainer div div{
        border-radius: 20px;
        border: 1px solid white;
    }


    img{
        width:400px;
        height:600px;
        padding:20px;
        border-radius: 20px;
    }

    figcaption{
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
    .middle{
        background-color: white;
        width:100%;
        height:auto
    }
    h2{
        text-align: center;
        color:white;
        font-size: 30px;
    }


.chef-section {
    background-color: black;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    border: 1px solid white;
    width:2400px;
    margin: 0 auto;
    border-radius: 1%;
}

.chef-section .line{
    width:300px;
    margin:0 auto;
    
}

.chef {
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom:100px;
}

.chef-img img {
    width: 400px;
    height: auto;
}

.chef-info {
    max-width: 500px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

.position {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
